.Landing {
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
}

.intro-page {
    display: block;
    align-items: center;
    justify-content: center;
}

.typer {
    font-size: 20px;
}