@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@100&family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap');

.Landing {
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
    background-color: #FFF0CE;
}

.intro-page {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    color: #D55534;
    font-family: 'Bakbak One', cursive;
}

.links a {
    color: #D55534;
}

.secret-message {
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
    font-family: 'Permanent Marker', cursive;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


    .Landing {
        display: flex;
        flex-direction: column;
    }
    .links {
        display: flex;
        margin-top: 2vh;
    }
    #landing-button {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}