@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@100&family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap');

.work-div {
    display: flex;
    height: 95vh;
    background-color: #FFF0CE; 
    width: 100%;
}

/* .box{
    display: flex;
    height: 95vh;
} */

.title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    font-family: 'Bakbak One', cursive;
}

.btn-group {
    display: flex;
    justify-content: center;
    min-height: 500px;
    min-width: 500px;
}

.btn-select {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.portal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    text-decoration: none;

}

.portal a {
    text-decoration: none;
    color: black;
}


@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .work-div {
        height: 95vh;
        width: 100%;
        justify-content: center;
    }
    
    .box{
        display: flex;
        flex-wrap: wrap;
    }
    .btn-select {
        display: flex;
        justify-content: flex-start;
        position: static;
    }

    .title {
        
    }
    
    .btn-group {
        display: flex;
        justify-content: center;
        min-height: 400px;
        min-width: 350px;
    }
    
    
    .portal {
        
    
    }
    
    .portal a {
        
    }
    
}