@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@100&family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap');

.work-div {
    display: flex;
    height: 95vh;
    background-color: #FFF0CE; 
    width: 100%;
}

/* .box{
    display: flex;
    height: 95vh;
} */

.title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: center;
    justify-content: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    min-height: 500px;
    min-width: 500px;
}

.btn-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.portal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    text-decoration: none;

}

.portal a {
    text-decoration: none;
    color: black;
}
