@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@100&family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap');



.mainn-container {
    min-height: 150vh;
    max-height: 200vh;
    width: 100%;
    background-color:#FFF0CE;
    font-family: 'Bakbak One', cursive;
}


.boxx {
   display: block; 
}


.titlee {
    display: flex;
    justify-content: center;
} 

.prev-picss {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
} 

.summary {
    margin-left: 20px;
    margin-right: 20px;
}

.stack-sum {
    display: block;
    margin-bottom: 0px;
    height: 50vh;
} 

.stacks {
    display: block;
    margin-bottom: 0px;
} 

#btn {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.work-link a {
    text-decoration: none;
    color: white;
    font-family: 'Bakbak One', cursive;
}

.work-link button {
    margin-top: 3vh;
    background-color: #D55534;
    border-style: none;
    border-radius: 5px;
}