.main-container{
    display: flex;
    height: 95vh;
}

.box {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;    
}

.pics {
    display: flex;
    justify-content: space-between;
}

.title{


}

.summary-1{

}

.summary{

}

.stack-sum {

}

.work-links {

}