@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@100&family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap');


nav {
    display: flex;
    background-color: #83B4B3;
    height: 70px;
}

nav a {
    color: #FFF0CE;
    text-decoration: none;
    font-family: 'Bakbak One', cursive;
    font-size: large;
}

.all-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.logo-links {
    margin-right: 25px;
}

.link {
    padding-left: 10px;
}