@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@100&family=Mochiy+Pop+P+One&family=Permanent+Marker&display=swap');


.Aboutme {
    display: flex;
    justify-content: center;
    height: 120vh;
    width: 100%;
    background-color: #FFF0CE;
}

.manipulate {
    justify-content: center;
    align-items: center;
    align-self: center;
}
.Summary {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/* #profile {
    border-radius: 1000px;
} */

.img-tag {
    display: flex;
    justify-content: center;
}

.paragraph {
    display: flex;
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;
    font-family: 'Bakbak One', cursive;
}

.sum-title {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: 'Bakbak One', cursive;
}

.img-tag img {
    border-radius: 50px;
}